
ul.admin-menu
  li: a(href='/admin') Admin Home
  li: a(href='/admin/articles?is_page=true') Pages
  li: a(href='/admin/articles?categories=Tutorials And Templates') Tutorials &#38; Templates
  li: a(href='/admin/users') Users
  li: a(href='/admin/lookups') Lookups