
ul.admin-menu
  li: a(href='/admin/articles') All Articles
  li: a(href='/tutorials-and-templates') Tutorials &#38; Templates
  li: a(href='/discussion-boards') Discussion Boards
  li: a(href='/personalized-help') Personalized Help
  li: a(href='/weekly-thoughts') Weekly Thoughts
  li: a(href='/admin/users') Users
  li: a(href='/admin/lookups') Lookups

