extend ../layout

block content
  
  
  .admin
    #page-content
      h2.pageheader Welcome to the Admin Panel
      
      nav
        include _admin_menu

      div#sub-content
        block sub_content
          p
            | Ut mattis urna bibendum nibh pulvinar non molestie quam aliquet. Etiam porta pretium nulla, ut ultrices velit ullamcorper sit amet. Proin dui tellus, venenatis at faucibus ac, semper vel dui. Duis fringilla enim id nunc aliquam non feugiat purus sodales. Vestibulum urna risus, tincidunt in ultricies consectetur, adipiscing at turpis. Praesent volutpat, odio quis pellentesque egestas, ligula enim euismod dui, eu fringilla nisi turpis sit amet dui. Mauris sed dictum ligula. Etiam ut tellus in mi tempor auctor.