extend ../layout

block content
  
  
  .admin
    #page-content
      h2.pageheader Welcome to the Admin Panel
      
      nav
        include _admin_menu

      #sub-content
        block sub_content
          p