extends ../admin/index

block sub_content
  h3 Blog
  
  for article in articles
    div(id=article._id).article
      h4: a(href='/article/'+article._id) #{article.title}
      .article-body 
        !{article.excerpt}
  else
    p No Articles