extends ../layout

block content

  #sub-content
    h2= page_title

    for article in articles
      div(id=article._id).article
        h3: a(href='/article/'+article._id) #{article.title}
        .article-body
          !{article.excerpt}
          
      .teal-divider
        
    else
      p No Articles