extends index

block content

  h2.pageheader #{user.name.full}
  
  #sub-content.user-profile-view

    nav
      include _usersubmenu
    
    h3 Edit Account Info for #{user.name.full}
    
    include _form
