extends index

block content

  #sub-content
    ul.sub-menu
      li: a(href="/user/#{user._id}") Cancel

    form(action='/user/'+user._id+'/resetpassword', method='post', id='resetpassword')

      input(type='hidden', name='user[_id]', value=user.id)

      div
        label(for='cpw') Current Password:
        input(type='password', id='cpw', name='user[current_password]')
      div
        label(for='npw') New Password:
        input(type='password', id='npw', name='user[password]')
      div
        label(for='cnpw') Confirm New Password:
        input(type='password', id='cnpw', name='user[confirm_password]')

      input(type='submit', value='Save')
