/** Eric Meyer's CSS Reset **/
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-size 100%
  font-family inherit
  vertical-align baseline

/* remember to define focus styles! */
a, *focus, *active
  outline 0

/* for FireFox */
input[type="submit"]-moz-focus-inner, input[type="button"]-moz-focus-inner
  border  0px

/* for IE8 */
input[type="submit"]focus, input[type="button"]focus
  outline  none

body
  line-height 1
  color black
  background white

ol, ul
  list-style none

/* tables still need 'cellspacing="0"' in the markup */
table
  border-collapse separate
  border-spacing 0

caption, th, td
  text-align left
  font-weight normal

blockquote:before, blockquote:after,
q:before, q:after
  content ""

blockquote, q
  quotes "" ""

/** End Meyer Reset **/

/** BEGIN @FONT-FACE **/
@font-face
    font-family 'AlexBrushRegular'
    src url('/fonts/alex-brush-webfont/AlexBrush-Regular-OTF-webfont.eot');
    src url('/fonts/alex-brush-webfont/AlexBrush-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alex-brush-webfont/AlexBrush-Regular-OTF-webfont.woff') format('woff'),
         url('/fonts/alex-brush-webfont/AlexBrush-Regular-OTF-webfont.ttf') format('truetype'),
         url('/fonts/alex-brush-webfont/AlexBrush-Regular-OTF-webfont.svg#AlexBrushRegular') format('svg');
    font-weight normal
    font-style normal

@font-face
    font-family 'BergamoStdRegular'
    src url('/fonts/bergamo-std-webfont/BergamoStd-Regular-webfont.eot')
    src url('/fonts/bergamo-std-webfont/BergamoStd-Regular-webfont.eot?iefix') format('eot'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Regular-webfont.woff') format('woff'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Regular-webfont.ttf') format('truetype'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Regular-webfont.svg#webfontJwE6WVIU') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BergamoStdItalic'
    src url('/fonts/bergamo-std-webfont/BergamoStd-Italic-webfont.eot')
    src url('/fonts/bergamo-std-webfont/BergamoStd-Italic-webfont.eot?iefix') format('eot'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Italic-webfont.woff') format('woff'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Italic-webfont.ttf') format('truetype'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Italic-webfont.svg#webfontYjq6Uu7v') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BergamoStdBold'
    src url('/fonts/bergamo-std-webfont/BergamoStd-Bold-webfont.eot')
    src url('/fonts/bergamo-std-webfont/BergamoStd-Bold-webfont.eot?iefix') format('eot'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Bold-webfont.woff') format('woff'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Bold-webfont.ttf') format('truetype'),
         url('/fonts/bergamo-std-webfont/BergamoStd-Bold-webfont.svg#webfont4jVlxogg') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'BergamoStdBoldItalic'
    src url('/fonts/bergamo-std-webfont/BergamoStd-BoldItalic-webfont.eot')
    src url('/fonts/bergamo-std-webfont/BergamoStd-BoldItalic-webfont.eot?iefix') format('eot'),
         url('/fonts/bergamo-std-webfont/BergamoStd-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/bergamo-std-webfont/BergamoStd-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/bergamo-std-webfont/BergamoStd-BoldItalic-webfont.svg#webfontWQ48hIB4') format('svg')
    font-weight normal
    font-style normal

/** END @FONT-FACE **/

/** Clearfix **/
.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden

/** End Clearfix **/

/** Begin Font Fix */
body
  font-size 62.5%

input, select, th, td, p
  font-size 1em

/** End Font Fix **/

/** Classes **/
.hide
  display none

.float-left
  float left

.float-right
  float right

.tip
  color #555
  display inline-block
  font-size 10px
  width 500px

/** HTML5 **/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block

/** ACCESSIBILITY **/
#skip
  font-family Arial, sans-serif
  position absolute
  left 0
  top 0
  margin-left 0
  text-align center
  font-size 2.0em
  width 900px
  height 2px

  a
    position absolute
    left -9999px
    top -75px
    display block

  a:focus, a:active
    position relative
    left 0
    top 100px
    z-index 9999
    width 400px
    margin 0 auto
    padding 10px 10px
    background #fff
    border 1px solid #dedede
    outline none

.accessibility
  position relative
  width 900px
  height 2px

/** END ACCESSIBILITY **/

/* VARIABLES */
$teal = #008f96
$lightteal = #4cbdc3
$darkteal = #006368
$darkgray = #3b3b3b
$midgray = #565656
$lightgray = #9b9b9b

$sansfont = arial, 'sans serif'
$scriptfont = AlexBrushRegular, 'brush script std', serif
$seriffont = BergamoStdRegular, times, 'times new roman', serif

$border = 2px solid $midgray
$tealborder = 2px solid $darkteal
/* END VARIABLES */

/** BEGIN DOCUMENT CSS **/
body
  color $darkgray
  font-family $sansfont
  line-height 1.6em

#container
  width 900px
  margin 10px auto 0
  position relative

a
  color $teal

a:hover
  color $darkteal

h2
  font-family $seriffont
  line-height 1.6em

fieldset
  border 1px solid black

input
  margin 0 5px
  padding 2px 5px
  border 1px solid $lightgray

input[type='submit']
  background $darkgray
  color #fff
  font-weight bold
  border 0
  outline 0
  padding 6px

input[type='submit']:hover
  background-color #ccc
  cursor pointer

.centered
  display block
  margin 0 auto

/* HEADER */
#header h1
  display block
  width 540px
  height 142px
  float left

/* LOGIN */
#login
  width 360px
  float right
  color $lightgray

#login form
  float right

#login input
  color $lightgray

#login input#login-button
  margin-right 0
  color $darkgray

#login p
  font-size 1.2em
  line-height 2.5em
  text-align right

#login p a
  color $lightgray

#login p a:hover
  color $darkgray

/* NAV */
nav
  font-size 19.5px
  text-align center
  margin 10px 0

nav ul li
  display inline
  margin 0 10px

nav a
  text-decoration none
  color $darkgray

nav a:hover
  color $teal

/* HOME PAGE */
/* tagline */
#tagline
  background-color $teal
  font-family $sansfont
  font-size 2.2em
  color #fff
  text-align center
  padding 25px 0
  border $border

  img
    width 700px
    margin 0 auto

/* home-points */
#home-points section
  border $border
  padding 10px 15px

#home-points img
  display block

/* help-colleges-find-you */
#home-points section#help-colleges-find-you
  text-align center
  margin-bottom 20px
  padding 0 15px
  border-width 0 2px 2px

#help-colleges-find-you h2
  font-size 3.0em

#help-colleges-find-you p
  font-size 1.4em
  margin-bottom 30px

a#build-button
  background $teal
  color #fff
  font-size 1.5em
  padding 10px
  margin 0 10px
  text-decoration none

a#build-button:hover
  cursor pointer
  background-color $lightteal

#help-colleges-find-you img
  margin 0 auto
  padding-top 5px

/* fab-four */
#fab-four section
  text-align left
  width 417px
  height 175px
  overflow hidden
  float left

#home-points section#learn-the-basics
  border-width 2px 1px 1px 2px

#home-points section#expand-your-skills
  border-width 2px 2px 1px 1px

#home-points section#join-a-community
  border-width 1px 1px 2px 2px

#home-points section#find-a-position
  border-width 1px 2px 2px 1px

#fab-four div
  width 200px
  float left

#fab-four img
  float right

#fab-four p, #social-ctas p
  font-size 1.2em

#fab-four h2, #social-ctas h2
  font-size 2.4em

/* social-ctas */
#social-ctas
  margin-top 20px

#social-ctas section
  text-align center
  width 417px
  float left
  height 150px

#social-ctas p
  font-size 1.6em

#home-points section#join-our-newsletter
  border-width 2px 1px 2px 2px

#home-points section#join-our-newsletter input[type='text']
  display block
  width 250px
  margin 20px auto 0
  font-size 1.6em

#home-points section#join-our-newsletter input[type='submit']
  display block
  margin 10px auto
  padding 5px 15px
  background-color $teal
  color #fff
  font-size 1.6em

#home-points section#join-our-newsletter input[type='submit']:hover
  background-color $lightteal

#home-points section#find-us-on-facebook
  border-width 2px 2px 2px 1px

#social-ctas img
  margin 10px auto

/* END HOME PAGE */

/* FOOTER */
/* pre-footer */
#pre-footer
  background-color $teal
  color #fff
  padding 20px 15px
  border $border
  margin-top 20px

#pre-footer section
  width 268px
  padding 0 10px
  float left

#pre-footer h3
  font-family $scriptfont
  font-size 2.8em
  line-height 1em
  margin 0
  padding 0

#pre-footer ul
  font-size 1.2em

#pre-footer li
  margin 10px 0

#pre-footer a
  color #fff
  text-decoration none

#pre-footer a:hover
  text-decoration underline

/* copyright footer */
footer
  text-align center
  padding 20px
  font-family $seriffont
  font-size 1.3em

footer a
  color $darkgray

/* END FOOTER */

/* GENERAL PAGES */
strong
  font-weight bold

em
  font-style italic

.top-divider
  background $teal
  width 100%
  height 25px
  border $border

h2
  font-family $seriffont
  text-align center
  font-size 3.0em

h3
  font-family $seriffont
  text-align left
  font-size 2.0em
  margin-top 1em

  .button-box
    font-family $sansfont
    font-size .5em
    margin-left 10px

#sub-content h3
  margin-bottom .8em

h4, h5
  font-weight bold
  margin 2px 0
  text-transform capitalize
  font-size 1.2em

  a
    text-decoration none

h5
  margin-bottom .5em
  font-style italic

#page-content
  border $border
  border-top none
  padding 10px

#sub-content
  font-size 1.3em

#sub-content p
  padding 10px 0

#sub-content li
  margin-bottom .5em
  margin-left 20px
  list-style-position outside
  list-style-type disc

form div
  padding 5px 0

.teal-divider, form .teal-divider
  height 5px
  margin 10px 0
  padding 0
  background $teal

/* END GENERAL PAGES */

/* ADMIN */
.admin

  label
    font-weight bold

a.button-box
  background-color $teal
  padding 5px
  text-decoration none
  color #fff
  margin-right 10px
  line-height 3em

a.button-box:hover
  background-color $lightteal
  cursor pointer

#name-value-edit
  line-height 3em

#sub-content ul.sub-menu

  li
    display inline
    margin-left 0

    a
      background-color $teal
      padding 5px
      text-decoration none
      color #fff
      margin-right 10px
      line-height 3em

    a:hover
      background-color $lightteal

fieldset
  margin-top 20px
  border-width 0
  padding 10px

legend
  font-family $seriffont
  font-size 2.0em

.profile-segment
  width 250px
  padding 10px
  margin-right 10px
  margin-top 10px
  border $border
  float left


/* USERS */
ul.user-values

  li
    padding 10px
    margin 0

  li:nth-child(odd)
    background-color #ccc

    .tester
      background-color #fff
      padding-left 5px

/* PROFILE VIEW */
.user-profile-view

  #profile-info

    .profilediv
      margin 10px 0
      padding 10px 0
      border-top 5px solid $teal

    h4
      font-family $seriffont
      font-weight normal
      font-size 1.8em
      margin-bottom .5em

    h5
      margin 1em 0 .5em 0

/* LOOKUPS */
.lookup-info
  margin-top 10px

#lookups
  margin-top 10px
  font-weight bold

#sub-content #lookup-values-edit
  line-height 3em

  ul li
    list-style-type none
    margin-left 0

  ul li:nth-child(odd)
    background-color #ccc

#sub-content #lookup-info
  font-weight bold

  ul li ul, ul li ul li
    display inline

  .key, .sub-thing
    margin-right 10px

  .key:after
    content ":"

  .sub-thing
    font-weight normal

/* SEARCH FORM */
#sub-content form#search-form div
  display inline
  margin 0 10px

/* FACULTY DATABASE SEARCH RESULTS */
.database

  table
    width 100%
    border 1px solid $lightgray
    border-bottom 0
    margin-top 10px
    font-size .9em

    th, td
      border-bottom 1px solid $lightgray
      padding 5px

    th
      font-weight bold

/* JOB SEARCH RESULTS */
#jobResults
  border $tealborder
  padding 5px

  table
    border $tealborder
    padding 5px

    td
      padding 5px

#jobSearchForm fieldset
  display block
  float left

fieldset.jobCategory
  border-right 2px solid $lightgray
  margin-bottom 5px

.jobTitle, .instName
  font-size 1.3em

/* ARTICLES */

.article

  h4
    font-size 1.5em

 /* DUSTINS TERRIBLE STYLES */

img.add-new
  cursor pointer


// flash message

#messages
  position fixed
  width 900px
  z-index 1

  ul
    li
      font-size 12px
      font-weight bold
      padding 5px
      list-style-type none

  ul.info
    li
      background-color rgba(133, 234, 133, .9)

  ul.error
    li
      background-color rgba(255, 186, 210, .9)

// adjunct search page

table#adjunct-search-results
  border-top 1px black solid
  border-left 1px black solid
  width 100%
  tr
    th
      font-weight bold
    th
    td
      border-bottom 1px black solid
      border-right 1px black solid
      padding 5px


// md text editor

.md-editor-panel

  span
    cursor pointer

.error
  color red

// article comments
#comments

  > .comment
    border 3px solid #ccc
    margin-bottom 10px
  .comment
    background-color: #fff

    .replies
      .comment
        border 1px solid #ccc
        padding-left 15px

    .header
      background-color #A4CFD1
      height 24px
    p
      padding 0px

  > .comment:nth-child(even)
    border 3px solid #ccc

span.ui-helper-hidden-accessible
  display none

#article-form
  input[type=text]
    width 400px
  input#article-title
    font-size 14px