ul#menu-main
  li: a(href='/search/faculty') Faculty Search
  li: a(href='/search/jobs') Job Listings
  li: a(href='/tutorials-and-templates') Tutorials &#38; Templates
  li: a(href='/forums') Discussion Boards
  li: a(href='/personalized-help') Personalized Help
  