ul#menu-main
  li: a(href='/') Home
  li: a(href='/faculty/search') Faculty Search
  li: a(href='/jobs/search') Jobs
  li: a(href='/tutorials-and-templates') Tutorials &#38; Templates
  li: a(href='/discussion-boards') Discussion Boards
  li: a(href='/personalized-help') Personalized Help
  