ul#menu_main
  li: a(href='/search/adjunct') Adjunct Search
  li: a(href='/search/jobs') Job Listings
  li: a(href='/templates-and-tutorials') Tutorials &#38; Templates
  li: a(href='/forums') Discussion Boards
  li: a(href='/personalized-help') Personalized Help
  