extends layout

block content
  h2 Create New Account

  #sub-content
    form(action='/forgotpassword', method='post', id='forgotpassword')

      div
        label(for='email') Email
        input(type='text', id='email', name='email').notempty.email

      input(type='submit', value='Save')
