extends layout

block content
  h2 Forgot Password

  #sub-content
    form(action='/forgotpassword', method='post', id='forgotpassword')

      - if(typeof user != 'undefined')
        input(type='hidden', name='user[_id]', value=user.id)
        input(type='hidden', name='user[k]', value=k)

        div
          label(for='npw') New Password:
          input(type='password', id='npw', name='user[password]')
        div
          label(for='cnpw') Confirm New Password:
          input(type='password', id='cnpw', name='user[confirm_password]')

      else
        p Please enter the email address associated with you account. An email will be sent containing a link to reset your password.
        div
          label(for='email') Email
          input(type='text', id='email', name='email').notempty.email

      input(type='submit', value='Save')
