extends layout

block divider
  //- block left deliberately empty

block content
  
  #home-points
    #tagline Supporting online faculty to ensure success for all students.

    section#help-colleges-find-you
      h2 Help Colleges Find You
      p Update your information on our secure and searchable database to be connected with the right job.
      p
        a(href='/signup')#build-button Build Your Profile Today
        |  
        a(href='/search/faculty')#view-link View the Database
      img(src='/images/database-screenshot.png', alt='Partial view of the database')
      
    #fab-four.clearfix
      section#learn-the-basics
        div
          h2 Learn the Basics
          p 
            | Get tutorials and view templates, learn the tools of the trade, and more with our 
            a(href='/starting-an-online-class') beginners' guides
            | . We also offer 
            a(href='/personalized-help') personalized help
            |  with everything from writing your cirriculum vidae to creating your class online.
        img(src='/images/home-points-images.jpg', alt='College students learn computer skills')
        
      section#expand-your-skills
        div
          h2 Expand Your Skills
          p
            | So you've been working online for a while now, but you'd like to streamline your processes or polish up your CV? Our 
            a(href='/tutorials-and-templates') advanced articles
            |  are written just for you. Our experienced experts also offer 
            a(href='/personalized-help') personalized help
            |  to make your CV and classes shine.
        img(src='/images/home-points-images.jpg', alt='Middle-aged students study the computer')
        
      section#join-a-community
        div
          h2 Join a Community
          p
            | Thanks to our 
            a(href='/forms') discussion boards
            | , you'll have access to a community of helpful, experienced individuals. Share ideas, post questions, or just commiserate about the long hours; our discussion boards are here for you!
        img(src='/images/home-points-images.jpg', alt='Study group collaborates in a circle')
        
      section#find-a-position
        div
          h2 Find a Position
          p
            //- TODO adjust when signed in and have profile (3 possible states)
            a(href='/signup') Create a profile
            |  and get added to our 
            a(href='/search/faculty') adjunct database
            | . Upload your resum&#233;, CV, and cover letter, and let the institutions find you! We also have a growing database of 
            a(href='/search/jobs') job listings
            |  searchable by location, hiring requirements, and more.
        img(src='/images/home-points-images.jpg', alt='Happy teacher poses in classroom')
      
    #social-ctas.clearfix
      section#join-our-newsletter
        h2 Join Our Newsletter
        p Stay up to date on the latest resources and job postings.
        form(action='POST')
          input(type='text', value='email address')
          input(type='submit', id='social-input', value='Sign Up')
          
      section#find-us-on-facebook
        h2 Find Us on Facebook
        p Never miss an article.
        a(href='https://www.facebook.com/pages/Online-Faculty-Supportcom/438552086192944')
          img(src='/images/facebook-icon.png', alt='Facebook icon')
    
    