extends layout

block content
	#header
		h1 
			a(href='/', title='Online Faculty Support')
				img(src='', alt='Online Faculty Support')
				
		#login
			form#top-login-form(action='POST')
				input(type='text', id='user-name', name='User Name')
				input(type='text', id='password', name='Password')
				input(type='submit', id='login', name='Login')

	nav
		ul
			li
				a(href='#') Adjunct Search
			li
				a(href='#') Job Listings
			li
				a(href='#') Tutorials &#38; Templates
			li
				a(href='#') Discussion Boards
			li
				a(href='#') Personalized Help

	#tagline Supporting online faculty to ensure success for all students.

	section#help-colleges-find-you
		h2 Help Colleges Find You
		p Update your information on our secure and searchable database to be connected with the right job.
		a(href='#')#build-button Build Your Profile Today
		a(href='#')#view-link View the Database
		img(src='', alt='Partial view of the database')
		
	section#learn-the-basics
		p 
		| Get tutorials and view templates, learn the tools of the trade, and more with our 
		a(href='') beginners' guides
		| . We also offer 
		a(href='') personalized help
		|  with everything from writing your cirriculum vidae to creating your class online.
		
		