doctype 5
html
  head
    title OnlineFacultySupport.com
    link(rel='stylesheet', href='/styles/main.css')
    script(src='/scripts/jquery-1.8.2.min.js')
    script(src='/scripts/jquery-ui-1.9.1.custom.min.js')
    script(src='/scripts/underscore-min.js');
    script(src='/scripts/ofs.js')
    
  body
    #container
      include _messages
      #header.clearfix
        h1 
          a(href='/', title='Online Faculty Support')
            img(src='/images/onlinefacultysupport-logo-BETA.png', alt='Online Faculty Support')
            
        #login
          - if(typeof s_user == 'undefined' || s_user == false)
            form#top-login-form(action='/login', method='post')
              input(type='text', id='user-name', name='username', value='username')
              input(type='password', id='password', name='password', value='password')
              input(type='submit', id='login-button', name='Login', value='Login')
              p: a(href='/forgotpassword') Forgot password
            .clearfix
            p
              a(href='/signup') Create an account
              |  to start building your profile.
          else
            p Hello, 
              - if(typeof s_user.name.first != 'undefined')
                | #{s_user.name.first}
              else
                | #{s_user.username}
            p
              if s_user.is_admin
                a(href='/admin') Admin
                |  &#124; 
              a(href='/user/'+s_user._id) My Account
              |  &#124; 
              a(href='/logout') Logout
    
      block menu_main
        nav
          != partial('_menu')
          
      block divider
        .top-divider
          
      block content
     
      block footer
        #pre-footer.clearfix
          section
            h3 
              img(src='/images/footer-header-moreinfo.png', alt='More Information')
            ul
              li: a(href='/about') About OnlineFacultySupport.com
              li: a(href='/faculty-resources') Faculty Resources
              li: a(href='/resources-for-institutions') Resources for Institutions
              
          section
            h3 
              img(src='/images/footer-header-toparticles.png', alt='Top Articles')
            ul#top-articles
              
          section
            h3 
              img(src='/images/footer-header-populardiscussions.png', alt='Popular Discussions')
            ul#popular-discussions
              
        footer
          | Copyright&#169;2012 OnlineFacultySupport.com (BETA) &#124; Design by 
          a(href='http://readydesigns.com') Ready Designs 
          | &#124; Framework by 
          a(href='http://www.linkedin.com/in/dustincoffey') CASS Solutions
    
    - if(typeof(scripts) != 'undefined')
      for scrpt in scripts
        script(src=scrpt)

    - if(typeof s_user != 'undefined' && s_user != false && s_user.is_admin)
      script(src='/scripts/admin.js')