doctype 5
html
  head
    title OnlineFacultySupport.com
    link(rel='stylesheet', href='/styles/main.css')
    script(src='/scripts/jquery-1.8.0.min.js')
    script(src='/scripts/ofs.js')
    
    - if(typeof(scripts) != 'undefined')
      for scrpt in scripts
        script(src=scrpt)
    
  body
    #container
      include _messages
      #header.clearfix
        h1 
          a(href='/', title='Online Faculty Support')
            img(src='/images/onlinefacultysupport-logo.png', alt='Online Faculty Support')
            
        #login
          if !s_user
            form#top-login-form(action='/login', method='post')
              input(type='text', id='user-name', name='username', value='User Name')
              input(type='password', id='password', name='password', value='Password')
              input(type='submit', id='login-button', name='Login', value='Login')
            .clearfix
            p
              a(href='/signup') Create an account
              |  to start building your profile.
          else
            p Hello, #{s_user.name.first}
            p
              if s_user.is_admin
                a(href='/admin') Admin
              a(href='/user/'+s_user._id) My Account
              a(href='/logout') Logout
    
      block menu_main
        nav
          != partial('_menu')
          
      block divider
        .top-divider
          
      block content
     
      block footer
        #pre-footer.clearfix
          section
            h3 More Information
            ul
              li: a(href='') About OnlineFacultySupport.com
              li: a(href='') Membership Benefits
              li: a(href='') Resources for Institutions
              
          section
            h3 Top Articles
            ul
              li: a(href='') How to Write a Stand-Out CV
              li: a(href='') Generating Interest in Online Discussions
              li: a(href='') Lorem Ipsum
              
          section
            h3 Popular Discussions
            ul
              li: a(href='') Lorem ipsum dolor sit amet
              li: a(href='') Ut felis arcu
              li: a(href='') Etiam condimentum sem scelerisque
              
        footer
          | Copyright&#169;2012 OnlineFacultySupport.com &#124; Design by 
          a(href='http://readydesigns.com') Ready Designs 
          | &#124; Framework by 
          a(href='http://www.linkedin.com/in/dustincoffey') CASS Solutions
