doctype 5
html
  head
    title OnlineFacultySupport.com
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/jquery-1.8.0.min.js')
  body
   block menu_main
    != partial('_menu')
   block content
	 block footer
