doctype 5
html
  head
    title OnlineFacultySupport.com
    link(rel='stylesheet', href='/styles/main.css')
    script(src='/scripts/jquery-1.8.0.min.js')
    
    - if(typeof(scripts) != 'undefined')
      for scrpt in scripts
        script(src=scrpt)
    
  body
    #container
      #header.clearfix
        h1 
          a(href='/', title='Online Faculty Support')
            img(src='/images/onlinefacultysupport-logo.png', alt='Online Faculty Support')
            
        #login
          form#top-login-form(action='POST')
            input(type='text', id='user-name', name='User Name', value='User Name')
            input(type='text', id='password', name='Password', value='Password')
            input(type='submit', id='login-button', name='Login', value='Login')
          .clearfix
          p
            a(href='/') Create an account
            |  to start building your profile.
    
      block menu_main
        nav
          != partial('_menu')
          
      block content
     
      block footer
