extends layout

block content
  
  #login
    form#top-login-form(action='/login', method='post')
      input(type='text', id='user-name', name='username', value='username')
      input(type='password', id='password', name='password', value='password')
      input(type='submit', id='login-button', name='Login', value='Login')
    .clearfix
    p
      a(href='/signup') Create an account
      |  to start building your profile