extends layout

block content
  h2 Create New Account

  #sub-content
    form(action='/user/create', method='post', id='signupform')

      input(type='hidden', name='user[user_type]', value='Teacher')

      div
        label First Name
        input(type='text', id='firstname', name='user[name][first]').notempty

      div
        label Last Name
        input(type='text', id='lastname', name='user[name][last]').notempty

      div
        label(for='email') Email
        input(type='text', id='email', name='user[email]').notempty

      div
        label(for='type') User Type
        select(name='user[user_type]', id='type')
          option(value='Teacher') Teacher
          option(value='Institution') Institution

      div
        label(for='uname') Username
        input(type='text', id='uname', name='user[username]').notempty

      div
        label(for='pw') Password
        input(type='password', id='pw', name='user[password]')
      div
        label(for='cpw') Confirm Password
        input(type='password', id='cpw', name='user[confirm_password]')

      input(type='submit', value='Save')
