extends ../user/show

block sub_content

  block profile_details

    case user.user_type

      when "Teacher"

        if profile.user_id
          h3 
            | Profile Info for #{user.name.full} 
            - if(typeof s_user != 'undefined' && s_user != false && (s_user._id == profile.user_id || s_user.is_admin))
              a(href="/user/#{user._id}/profile/edit", class='button-box') Edit Profile
          include teacher/index

        else
          h3 Add your profile
          include teacher/_form

      when "Institution"
        p Include Institution Profile
