extends ../user/index

block sub_content
  
  ul.sub_menu
    li: a(href="/user/#{user._id}/profile/edit") Edit Profile
  
  block profile_details
    case user.user_type
      when "Teacher"
        if profile.user_id
          h3 Profile Info
          include teacher/index
        else
          h3 Add your profile
          include teacher/_form
        
      when "Institution"
        p Include Institution Profile
