extends ../layout

block content
  h2 Lookups

  form(action='/lookup/create', method='put')

    label Name
    input(type='text', name='lookup[name]')

    input(type='submit', value='Save')

  if lookups
    each lookup in lookups
      h4: a(href='/lookup/#{lookup.name}') #{lookup.name}

